@use '../../../assets/styles/variables' as * ;
@use '../../../assets/styles/mixins' as * ;
.inputField{
  width: 320px;
  margin-top: 20px ;
  .icon{
    svg{
      width: 15px;
      height: 15px;
    }
    position: absolute;
    top: 12px;
    left: 5px;
  }
  input{
    width: 100%;
    border:1px solid $inputBorderColor;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 20px;
    border-radius: 8px;
    border-width: 1px;
    &:focus{
      border: 1px solid $inputBorderColor;
      outline: none;
    }
  }
}
