@use '../../../../assets/styles/variables.scss' as *;

.heading{
  flex-direction: column;
  .ourBlogText{
    margin: auto;
    width: 82px;
    height: 28px;
    padding-top: 4px;
    padding-right: 12px;
    padding-bottom: 4px;
    padding-left: 12px;
    border-radius: 16px;
    color: $ourBlogColor;
    background-color: $textHeadingBG;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

  }
  .mainhead{
    margin: 0;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    color: $mainheadColor;
  }
  .headerParagraph{
    color: $ourBlogColor;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
}
.cards{
  max-width: 100%;
  flex-wrap: wrap;
  margin-left:10px ;

}
